defaults/flow.json
[{"id":"da7aa4fb.14b71","type":"subflow","name":"Dialog creation with complex xml","info":"","in":[{"x":85,"y":169,"wires":[{"id":"b30e6dde.3b387"}]}],"out":[{"x":1598,"y":432,"wires":[{"id":"7769e9b7.e90a28","port":0}]}]},{"id":"b30e6dde.3b387","type":"function","z":"da7aa4fb.14b71","name":"Prepare for List Dialog","func":"msg.url = \"https://\" + global.get(\"dialog_user\") + \":\" + global.get(\"dialog_password\") + \"@gateway.watsonplatform.net/dialog/api/v1/dialogs\";\n\nreturn msg;","outputs":1,"noerr":0,"x":397.71665954589844,"y":170.56666564941406,"wires":[["c31612c7.7e1ba"]]},{"id":"c31612c7.7e1ba","type":"https-node","z":"da7aa4fb.14b71","name":"List Dialogs","method":"GET","ret":"obj","url":"","authorized":true,"agent":true,"x":635.6166839599609,"y":177.96705627441406,"wires":[["221fdf8c.41f008"]]},{"id":"221fdf8c.41f008","type":"function","z":"da7aa4fb.14b71","name":"Get Dialog Id","func":"var dialog_id = \"\";\nfor (var d in msg.payload.dialogs) {\n    if ( msg.payload.dialogs[d].name == global.get(\"dialog_name\")) {\n        dialog_id = msg.payload.dialogs[d].dialog_id;\n        break;\n    }\n}\nmsg.payload.dialog_id =  dialog_id;\n\nmsg.url = global.get(\"dialog_file\");\n\nreturn  msg;","outputs":1,"noerr":0,"x":848.1166839599609,"y":175.76686096191406,"wires":[["bafe61e0.439db"]]},{"id":"b7dcbe39.094608","type":"https-node","z":"da7aa4fb.14b71","name":"Get Dialog file","method":"GET","ret":"bin","url":"","authorized":true,"agent":true,"x":622.5832366943359,"y":340.23365783691406,"wires":[["c4bc7546.26e618"]]},{"id":"519598bb.4c0b38","type":"function","z":"da7aa4fb.14b71","name":"","func":"msg.url = global.get(\"dialog_file\");\n//msg.url = \"https://\" + flow.get(\"user_name\") + \":\" + flow.get(\"password\") + \"@gateway.watsonplatform.net/dialog/api/v1/dialogs\";\n//msg.name = flow.get(\"dialog_name\");\n\n//msg.headers =  { \"Content-Type\": \"multipart/form-data\"} ;\nmsg.password = global.get(\"dialog_password\");\nmsg.username = global.get(\"dialog_user\");\n\n//msg.username = \"f46d60b5-6667-45ae-a7d9-46051bba4db4\";\n//msg.password = \"BqzREijQ1pqX\";\n\nmsg.dialog_params = {};\nmsg.dialog_params[\"dialog_name\"]= global.get(\"dialog_name\");\n//msg.dialog_params[\"dialog_id\"] = \"c66b2390-faea-40a6-a3e7-c8db9a7e2a3f\";\n\nreturn msg;","outputs":1,"noerr":0,"x":399.74998474121094,"y":334.0336456298828,"wires":[["b7dcbe39.094608"]]},{"id":"b7db7de2.aa0bd8","type":"service-dialog","z":"da7aa4fb.14b71","name":"dada","mode":"create","dialog":"","clientid":"","converse":"","x":1269.7349548339844,"y":344.3927001953125,"wires":[["7769e9b7.e90a28"]]},{"id":"7769e9b7.e90a28","type":"function","z":"da7aa4fb.14b71","name":"","func":"global.set(\"dialogId\", msg.dialog.dialog_id);\n\nmsg.payload = \"The dialog was successful created and is ready to use\" +\"\\n\"+\"------------------------------------------------\"+\"\\n\"+\"      Dialog ID: \"+ msg.dialog.dialog_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":1424.9500427246094,"y":337.56646728515625,"wires":[["8fb52855.4f5ed8"]]},{"id":"cdb7c345.0c9fa8","type":"service-dialog","z":"da7aa4fb.14b71","name":"Delete all old Dialogs","mode":"deleteall","dialog":"","clientid":"","converse":"","x":198.78330993652344,"y":330.23341369628906,"wires":[["519598bb.4c0b38"]]},{"id":"bafe61e0.439db","type":"function","z":"da7aa4fb.14b71","name":"set credentials","func":"msg.password = global.get(\"dialog_password\");\nmsg.username = global.get(\"dialog_user\");\n\nmsg.dialog_params = {};\nmsg.dialog_params[\"dialog_id\"] = msg.payload.dialog_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":1073.616683959961,"y":173.56666564941406,"wires":[["cdb7c345.0c9fa8"]]},{"id":"8fb52855.4f5ed8","type":"debug","z":"da7aa4fb.14b71","name":"","active":true,"console":"false","complete":"false","x":1617.999984741211,"y":337.34999084472656,"wires":[]},{"id":"c4bc7546.26e618","type":"function","z":"da7aa4fb.14b71","name":"","func":"\nmsg.payload = msg.payload.toString(\"utf-8\");\n\n//buf = new Buffer(msg.payload);\n//msg.payload = buf; \n\n//msg.payload = JSON.stringify(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":832.9999847412109,"y":349.09986877441406,"wires":[["2a73dd5e.88f382"]]},{"id":"5c5be591.ee6e1c","type":"comment","z":"da7aa4fb.14b71","name":"hier kann der buffer von dem dokument bearbeitet werden ---loop einfügen zum bearebeiten des xml dokuments ","info":"","x":801.1166839599609,"y":561.5666656494141,"wires":[]},{"id":"2a73dd5e.88f382","type":"xml","z":"da7aa4fb.14b71","name":"","attr":"","chr":"","x":915.9999847412109,"y":477.2332305908203,"wires":[["9fbc6a19.06012"]]},{"id":"1914c3fb.3a5c8c","type":"cloudant out","z":"da7aa4fb.14b71","name":"","cloudant":"","database":"buffer","service":"Maintenance Advisor-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1342,"y":736.8996887207031,"wires":[]},{"id":"3c44f170.938c26","type":"xml","z":"da7aa4fb.14b71","name":"","attr":"","chr":"","x":1238.999984741211,"y":472.0334014892578,"wires":[["b7db7de2.aa0bd8"]]},{"id":"25fb34a9.2140ec","type":"function","z":"da7aa4fb.14b71","name":"old function node","func":"msg.answer = global.get(\"answer_document\");\nvar lenght = msg.answer.answer_units.length;\n\nlenght = lenght + 5; \nmsg.test = \"\";\n\n\nvar counter = 5;\nvar counter2 = 0;\n\n\nfor ( counter = 5; counter <= lenght; counter ++ ) {\n      \n  msg.payload.dialog.flow[0].folder[1].folder[0].input[counter] = msg.payload.dialog.flow[0].folder[1].folder[0].input[4];\n  msg.payload.dialog.flow[0].folder[1].folder[0].input[counter].output[0].prompt[0].item[0]= counter2;\n  msg.payload.dialog.flow[0].folder[1].folder[0].input[counter].grammar[0].item[0] = counter2; //msg.answer.answer_units[counter-5].title\ncounter2 = counter2 + 1;\n}\n\nvar maxLength = msg.payload.dialog.flow[0].folder[1].folder[0].input.length;\n\nflow.set(\"maxLength\",maxLength);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":976.449951171875,"y":657.63330078125,"wires":[["1cfcb7fa.e9cd9"]]},{"id":"9fbc6a19.06012","type":"function","z":"da7aa4fb.14b71","name":"init counter ","func":"\nflow.set(\"counter1\",5);\n\nmsg.answer = global.get(\"answer_document\");\nvar length = msg.answer.answer_units.length;\nflow.set(\"maxLength\", length-1);\n\nmsg.payload.dialog.flow[0].folder[1].folder[0].input[5] = msg.payload.dialog.flow[0].folder[1].folder[0].input[4];\nmsg.payload.dialog.flow[0].folder[1].folder[0].input[5].grammar[0].item[0] = 1; \n\nmsg.test = msg.payload.dialog.flow[0].folder[1].folder[0].input;\n\nreturn msg","outputs":1,"noerr":0,"x":743.449951171875,"y":768.63330078125,"wires":[["1cfcb7fa.e9cd9","4483d698.63bc4"]]},{"id":"e224ef3d.7dd09","type":"switch","z":"da7aa4fb.14b71","name":"","property":"counter1","propertyType":"flow","rules":[{"t":"lt","v":"maxLength","vt":"flow"},{"t":"else"}],"checkall":"true","outputs":2,"x":1044.449951171875,"y":795.3333129882812,"wires":[["2db13c85.75dd4c"],["284d8a30.b68446"]]},{"id":"ee3b5fbb.88a078","type":"function","z":"da7aa4fb.14b71","name":"","func":"var length = flow.get(\"maxLength\");\nvar counter = flow.get(\"counter1\");\n\nwhile(counter <= length-1){\n \nmsg.payload.dialog.flow[0].folder[1].folder[0].input[counter] = msg.payload.dialog.flow[0].folder[1].folder[0].input[4];\nmsg.payload.dialog.flow[0].folder[1].folder[0].input[counter].output[0].prompt[0].item[0]= msg.answer.answer_units[counter-5].content[0].text; //kopieren und antwort hier einfügen \nmsg.payload.dialog.flow[0].folder[1].folder[0].input[counter].grammar[0].item[0] = msg.answer.answer_units[counter-5].title; \ncounter=counter+1;\n\n\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1453.449951171875,"y":605.13330078125,"wires":[[]]},{"id":"2db13c85.75dd4c","type":"function","z":"da7aa4fb.14b71","name":"","func":"\nmsg.answer = global.get(\"answer_document\");\n\n\nvar counter = flow.get(\"counter1\");\n\nmsg.payload.dialog.flow[0].folder[1].folder[0].input[5] = msg.payload.dialog.flow[0].folder[1].folder[0].input[4];\nmsg.test = msg.answer.answer_units[0].title;\nmsg.payload.dialog.flow[0].folder[1].folder[0].input[5].output[0].prompt[0].item[0]= msg.answer.answer_units[0].content[0].text; //kopieren und antwort hier einfügen \nmsg.payload.dialog.flow[0].folder[1].folder[0].input[5].grammar[0].item[0] = msg.test; \n\ncounter = counter + 1;\nflow.set(\"counter1\",counter);\n\nmsg.key = \"b242de56e40b4d1393f99f77b3e231d7f2314a98\";\n//msg.textInput = msg.payload.dialog.flow[0].folder[1].folder[0].input[counter].grammar[0].item[0];\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1227.7333984375,"y":793.566650390625,"wires":[["477a834e.beede4","1914c3fb.3a5c8c"]]},{"id":"1cfcb7fa.e9cd9","type":"debug","z":"da7aa4fb.14b71","name":"","active":true,"console":"false","complete":"test","x":1610.449951171875,"y":663.9166259765625,"wires":[]},{"id":"64d3b4ca.03b63c","type":"function","z":"da7aa4fb.14b71","name":"old function node","func":"//msg.payload = msg.payload.dialog.$;\n\n//msg.payload = msg.payload.dialog.flow[0];\n\n//msg.payload = msg.payload.dialog.flow[0].folder[0].random[0].folder;\n\n\n\n//Antworten hier:\n//msg.payload.dialog.flow[0].folder[0].random[0].folder[counter].action[2]._ = \"test for me\";\n//msg.payload.dialog.flow[0].folder[0].random[0].folder[0].action[2]._ = \"test for me\";\n//msg.payload.dialog.flow[0].folder[0].random[0].folder[1].action[2]._ = \"test for me\";\n//msg.payload.dialog.flow[0].folder[0].random[0].folder[2].action[2]._ = \"test for me\";\n//msg.payload.dialog.flow[0].folder[0].random[0].folder[4]= msg.payload.dialog.flow[0].folder[0].random[0].folder[2];\n//msg.payload.dialog.flow[0].folder[0].random[0].folder[4].action[2]._ = \"test for me111111\";\n\n//msg.payload = msg.payload.dialog.flow[0].folder[0].random[0].folder[counter];  //gesamt object nach ID\n//msg.payload = msg.payload.dialog.flow[0].folder[0].random[0].folder[counter].action[2]._; //instructions2 ist das 3 objekt im array\n\n//msg.payload = new Buffer(msg.payload);\n//msg.payload = length; \n\n//var length = msg.payload.dialog.flow[0].folder[0].random[0].folder.length; \n\nmsg.answer = global.get(\"answer_document\");\nvar lenght = msg.answer.answer_units.length;\n\nlenght = lenght + 5; \n\n\n\nvar counter = 5;\n\nwhile(counter <= lenght-1){\n \nmsg.payload.dialog.flow[0].folder[1].folder[0].input[counter] = msg.payload.dialog.flow[0].folder[1].folder[0].input[4];\nmsg.payload.dialog.flow[0].folder[1].folder[0].input[counter].output[0].prompt[0].item[0]= msg.answer.answer_units[counter-5].content[0].text; //kopieren und antwort hier einfügen \nmsg.payload.dialog.flow[0].folder[1].folder[0].input[counter].grammar[0].item[0] = msg.answer.answer_units[counter-5].title; \ncounter=counter+1;    \n}\nmsg.test = msg.payload.dialog.flow[0].folder[1].folder[0].input;\n\n//msg.payload = msg.answer.answer_units[counter].title;              //question\n//msg.payload = msg.answer.answer_units[counter].content[0].text;  //answer\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1454.566650390625,"y":534.566650390625,"wires":[[]]},{"id":"477a834e.beede4","type":"debug","z":"da7aa4fb.14b71","name":"","active":true,"console":"false","complete":"test","x":1641.566650390625,"y":785.1666564941406,"wires":[]},{"id":"797d641.5e4e09c","type":"debug","z":"da7aa4fb.14b71","name":"","active":true,"console":"false","complete":"false","x":1341.449966430664,"y":1018.9166412353516,"wires":[]},{"id":"284d8a30.b68446","type":"function","z":"da7aa4fb.14b71","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1141.449966430664,"y":1002.3333282470703,"wires":[["797d641.5e4e09c"]]},{"id":"4483d698.63bc4","type":"function","z":"da7aa4fb.14b71","name":"init counter ","func":"\nflow.set(\"counter1\",5);\n\nmsg.answer = global.get(\"answer_document\");\nvar length = msg.answer.answer_units.length;\nflow.set(\"maxLength\", length-1);\n\nmsg.payload.dialog.flow[0].folder[1].folder[0].input[6] = msg.payload.dialog.flow[0].folder[1].folder[0].input[4];\nmsg.payload.dialog.flow[0].folder[1].folder[0].input[6].grammar[0].item[0] = 11; \n\nmsg.test = msg.payload.dialog.flow[0].folder[1].folder[0].input;\n\nreturn msg","outputs":1,"noerr":0,"x":916.933349609375,"y":877.9666748046875,"wires":[["1914c3fb.3a5c8c"]]},{"id":"e15cdb3a.b67478","type":"subflow","name":"Dialog creation with standard xml","info":"","in":[{"x":238,"y":168,"wires":[{"id":"7c3ffc6.fa95404"}]}],"out":[{"x":1507,"y":427.99998474121094,"wires":[{"id":"e5cc52d8.a3a57","port":0}]}]},{"id":"7c3ffc6.fa95404","type":"function","z":"e15cdb3a.b67478","name":"Prepare for List Dialog","func":"msg.url = \"https://\" + global.get(\"dialog_user\") + \":\" + global.get(\"dialog_password\") + \"@gateway.watsonplatform.net/dialog/api/v1/dialogs\";\n\nreturn msg;","outputs":1,"noerr":0,"x":468.566650390625,"y":175.56666564941406,"wires":[["7dc8c7fd.cf1d1"]]},{"id":"7dc8c7fd.cf1d1","type":"https-node","z":"e15cdb3a.b67478","name":"List Dialogs","method":"GET","ret":"obj","url":"","authorized":true,"agent":true,"x":707.4666748046875,"y":184.9669647216797,"wires":[["9a24eb28.d2e81"]]},{"id":"9a24eb28.d2e81","type":"function","z":"e15cdb3a.b67478","name":"Get Dialog Id","func":"var dialog_id = \"\";\nfor (var d in msg.payload.dialogs) {\n    if ( msg.payload.dialogs[d].name == global.get(\"dialog_name\")) {\n        dialog_id = msg.payload.dialogs[d].dialog_id;\n        break;\n    }\n}\nmsg.payload.dialog_id =  dialog_id;\n\nmsg.url = global.get(\"dialog_file\");\n\nreturn  msg;","outputs":1,"noerr":0,"x":494.9666442871094,"y":319.76686096191406,"wires":[["7e359ac6.72643c"]]},{"id":"1f6c9d64.086e0b","type":"https-node","z":"e15cdb3a.b67478","name":"Get Dialog file","method":"GET","ret":"bin","url":"","authorized":true,"agent":true,"x":920.4331970214844,"y":412.23365783691406,"wires":[["40a1595a.3d9ec"]]},{"id":"31af8f59.b099d","type":"function","z":"e15cdb3a.b67478","name":"","func":"msg.url = global.get(\"dialog_file\");\n//msg.url = \"https://\" + flow.get(\"user_name\") + \":\" + flow.get(\"password\") + \"@gateway.watsonplatform.net/dialog/api/v1/dialogs\";\n//msg.name = flow.get(\"dialog_name\");\n\n//msg.headers =  { \"Content-Type\": \"multipart/form-data\"} ;\nmsg.password = global.get(\"dialog_password\");\nmsg.username = global.get(\"dialog_user\");\n\n//msg.username = \"f46d60b5-6667-45ae-a7d9-46051bba4db4\";\n//msg.password = \"BqzREijQ1pqX\";\n\nmsg.dialog_params = {};\nmsg.dialog_params[\"dialog_name\"]= global.get(\"dialog_name\");\n//msg.dialog_params[\"dialog_id\"] = \"c66b2390-faea-40a6-a3e7-c8db9a7e2a3f\";\n\nreturn msg;","outputs":1,"noerr":0,"x":729.5999145507812,"y":409.03358459472656,"wires":[["1f6c9d64.086e0b"]]},{"id":"40a1595a.3d9ec","type":"service-dialog","z":"e15cdb3a.b67478","name":"dada","mode":"create","dialog":"","clientid":"","converse":"","x":1166.5849304199219,"y":420.39259338378906,"wires":[["e5cc52d8.a3a57"]]},{"id":"e5cc52d8.a3a57","type":"function","z":"e15cdb3a.b67478","name":"","func":"global.set(\"dialogId\", msg.dialog.dialog_id);\n\nmsg.payload = \"The dialog was successful created and is ready to use\" +\"\\n\"+\"------------------------------------------------\"+\"\\n\"+\"      Dialog ID: \"+ msg.dialog.dialog_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":1341.800048828125,"y":420.56642150878906,"wires":[[]]},{"id":"14bafdf7.27ec02","type":"service-dialog","z":"e15cdb3a.b67478","name":"Delete all old Dialogs","mode":"deleteall","dialog":"","clientid":"","converse":"","x":546.6332702636719,"y":411.23341369628906,"wires":[["31af8f59.b099d"]]},{"id":"7e359ac6.72643c","type":"function","z":"e15cdb3a.b67478","name":"set credentials","func":"msg.password = global.get(\"dialog_password\");\nmsg.username = global.get(\"dialog_user\");\n\nmsg.dialog_params = {};\nmsg.dialog_params[\"dialog_id\"] = msg.payload.dialog_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":322.4666442871094,"y":411.56666564941406,"wires":[["14bafdf7.27ec02"]]},{"id":"6ce15836.a3b19","type":"subflow","name":"Setup Visual Recognition","info":"","in":[{"x":247,"y":205,"wires":[{"id":"9b8ee9ee.a00428"}]}],"out":[{"x":1427,"y":375,"wires":[{"id":"2a60bc9.06bcb44","port":0}]}]},{"id":"6f112430.7aee2c","type":"visual-recognition-util-v3","z":"6ce15836.a3b19","name":"","apikey":"","image-feature":"createClassifier","x":998.6665039062501,"y":379.566650390625,"wires":[["2a60bc9.06bcb44","5e5edc21.6941e4"]]},{"id":"8cbf31ac.80b34","type":"http request","z":"6ce15836.a3b19","name":"","method":"GET","ret":"bin","url":"","tls":"","x":1291.8332214355469,"y":206.23326873779297,"wires":[["b502edbe.0c047","4b923cff.5b843c"]]},{"id":"c530b90c.3923c","type":"function","z":"6ce15836.a3b19","name":"Set InputFile for conversation ","func":"\nmsg.url = global.get(\"positive_images\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1039.8332214355469,"y":205.98326873779297,"wires":[["8cbf31ac.80b34"]]},{"id":"4b923cff.5b843c","type":"function","z":"6ce15836.a3b19","name":"","func":"global.set(\"positivePic\",msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1486.6666259765625,"y":206.56666564941406,"wires":[["8c8a3059.d04ab"]]},{"id":"5bb4ea61.df9264","type":"http request","z":"6ce15836.a3b19","name":"","method":"GET","ret":"bin","url":"","tls":"","x":552.833251953125,"y":381.5665283203125,"wires":[["b502edbe.0c047","6143b839.20a798"]]},{"id":"8c8a3059.d04ab","type":"function","z":"6ce15836.a3b19","name":"Set InputFile for conversation ","func":"\nmsg.url = global.get(\"negative_images\");\n\nreturn msg;","outputs":1,"noerr":0,"x":301.83328119913733,"y":381.31654357910156,"wires":[["5bb4ea61.df9264"]]},{"id":"6143b839.20a798","type":"function","z":"6ce15836.a3b19","name":"","func":"\nvar classExtention = \"tata_positive_examples\";\n\nglobal.set(\"classExt\", \"tata_positive_examples\");\n\nmsg.params = {\"WeberStationM6_positive_examples\": global.get(\"positivePic\"),\n              \"negative_examples\": msg.payload,\n              \"name\": global.get(\"classifier_name\")};\nmsg.key = global.get(\"vr_key\");\n\nreturn msg;","outputs":1,"noerr":0,"x":784.6666564941406,"y":374.8999557495117,"wires":[["b502edbe.0c047","6f112430.7aee2c"]]},{"id":"e97e8d5e.cdf408","type":"visual-recognition-util-v3","z":"6ce15836.a3b19","name":"","apikey":"","image-feature":"deleteAllClassifiers","x":717.7333374023438,"y":194.73329162597656,"wires":[["5e5edc21.6941e4","c530b90c.3923c"]]},{"id":"9b8ee9ee.a00428","type":"function","z":"6ce15836.a3b19","name":"delete by id","func":"msg.key = global.get(\"vr_key\");\nmsg.params = {\"classifier_id\": \"machine_test_2027049997\",\n              \"name\": \"machine_test\"};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470.73334757486975,"y":207.73326873779297,"wires":[["e97e8d5e.cdf408"]]},{"id":"2a60bc9.06bcb44","type":"function","z":"6ce15836.a3b19","name":"","func":"\nmsg.payload = msg.result.classifier_id;\n//msg.payload = msg.result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1264.566650390625,"y":374.566650390625,"wires":[[]]},{"id":"5e5edc21.6941e4","type":"debug","z":"6ce15836.a3b19","name":"","active":true,"console":"false","complete":"result","x":966.4999694824219,"y":67.00000762939453,"wires":[]},{"id":"b502edbe.0c047","type":"debug","z":"6ce15836.a3b19","name":"","active":true,"console":"false","complete":"false","x":1385.5000305175781,"y":64.33333587646484,"wires":[]},{"id":"6574517d.b26848","type":"visual-recognition-util-v3","z":"6ce15836.a3b19","name":"","apikey":"","image-feature":"","x":372.4499969482422,"y":633.7833404541016,"wires":[[]]},{"id":"5ebce14.8e8b02","type":"subflow","name":"Create Ranker from Jazz Input file","info":"","in":[{"x":137,"y":162.00000762939453,"wires":[{"id":"91242b95.73c7b"}]}],"out":[{"x":1782,"y":471.0000305175781,"wires":[{"id":"469986a5.fa77b","port":0}]}]},{"id":"91242b95.73c7b","type":"function","z":"5ebce14.8e8b02","name":"","func":"\nglobal.set(\"trainingData\", \"\");\nglobal.set(\"counter\", 0);\nglobal.set(\"counterEnd\",msg.payload.answer_units.length);\n\nglobal.set(\"passed\", \"false\");\n\n//flow.set(\"counter1\", 0);\n\nmsg.test = global.get(\"counter\") + \"--\" + global.get(\"counterEnd\");\n\nreturn msg;","outputs":1,"noerr":0,"x":337.33331298828125,"y":166.33334350585938,"wires":[["688cc4e0.9ba62c","5ac77803.f183d"]]},{"id":"688cc4e0.9ba62c","type":"switch","z":"5ebce14.8e8b02","name":"","property":"counter","propertyType":"global","rules":[{"t":"lte","v":"counterEnd","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":433.66680908203125,"y":714.3333740234375,"wires":[["e99b5af0.72d9a"],["51fb0a4f.617e6c"]]},{"id":"2ca0b0b6.af2f","type":"function","z":"5ebce14.8e8b02","name":"","func":"\n\n\n//msg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\"+global.get(\"clusterId\")+\"/solr/\"+global.get(\"collection_name\")+\"/fcselect?q=\"+global.get(\"JsonTitle\")+\"&gt=\"+global.get(\"JsonId\")+\",\"+global.get(\"relevance\")+\",\"+global.get(\"JsonId_wrong\")+\",\"+global.get(\"relevance_wrong\")+\"&generateHeader=false&rows=10&returnRSInput=true&wt=json&fl=id,title\";\n\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\"+global.get(\"clusterId\")+\"/solr/\"+global.get(\"collection_name\")+\"/fcselect?q=\"+global.get(\"JsonTitle\")+\"&gt=\"+global.get(\"JsonId\")+\",\"+global.get(\"relevance\")+\"&generateHeader=false&rows=5&returnRSInput=true&wt=json&fl=id,title\";\n\n\nglobal.set(\"counter\", global.get(\"counter\")+1);\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":759.8333435058594,"y":880.3334121704102,"wires":[["688cc4e0.9ba62c","67327bcf.789174"]]},{"id":"34ae102e.7aeb78","type":"http request","z":"5ebce14.8e8b02","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1197.0003356933594,"y":878.6668090820312,"wires":[["5135ed23.105a24"]]},{"id":"5135ed23.105a24","type":"function","z":"5ebce14.8e8b02","name":"","func":"//test Part -- informieren wie der Service wirklich läuft!°!!!\n//var low = 0;\n//var high = 4;\n//var random = Math.floor(Math.random() * (high - low + 1) + low);\n\n\n\n//msg.test = msg.payload.RSInput;\n//msg.test = msg.test.substring(0, msg.test.length - 2);\n//msg.test = msg.test + random;\n\n\n//msg.payload.RSInput = msg.payload.RSInput + \"4\";\n\n\n//msg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/sc8df1ab26_c01b_43c5_90d7_e77281e57f77/solr/\"+global.get(\"collection_name\")+\"/fcselect?q=\"+global.get(\"JsonTitle\")+\"&gt=\"+global.get(\"JsonId\")+\",\"+global.get(\"relevance\")+\"&generateHeader=true&rows=1&returnRSInput=true&wt=json&fl=id,title\";\n\n//msg.payload = global.get(\"trainingData\");\n\n\n\n//this:\nglobal.set(\"trainingData\",  global.get(\"trainingData\") +\"\\n\"+  msg.payload.RSInput);\nmsg.payload = global.get(\"trainingData\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1386.6669616699219,"y":878.3334121704102,"wires":[["3f179ba.eb59e64"]]},{"id":"279beaec.1b3cee","type":"debug","z":"5ebce14.8e8b02","name":"","active":true,"console":"false","complete":"payload","x":1545.8332214355469,"y":207.33336639404297,"wires":[]},{"id":"67327bcf.789174","type":"function","z":"5ebce14.8e8b02","name":"","func":"\n\n//msg.test = msg.url;//global.get(\"trainingData\");\nreturn msg;","outputs":1,"noerr":0,"x":995.6667175292969,"y":880.3334121704102,"wires":[["34ae102e.7aeb78","668fa701.dc31c8"]]},{"id":"b3ad6d5d.7dc65","type":"function","z":"5ebce14.8e8b02","name":"scc54de210_4341_4250_b029_3263d46fe717","func":"global.set(\"passed\", \"false\");\n\n//global.set(\"trainingData\",  global.get(\"trainingData\") +\"\\n\"+  msg.payload.RSInput);\n\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\"+global.get(\"clusterId\")+\"/solr/\"+global.get(\"collection_name\")+\"/fcselect?q=\"+global.get(\"JsonTitle\")+\"&gt=\"+global.get(\"JsonId\")+\",\"+global.get(\"relevance\")+\"&generateHeader=true&rows=5&returnRSInput=true&wt=json&fl=id,title\";\n\n//msg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\"+global.get(\"clusterId\")+\"/solr/\"+global.get(\"collection_name\")+\"/fcselect?q=\"+global.get(\"JsonTitle\")+\"&gt=\"+global.get(\"JsonId\")+\",\"+global.get(\"relevance\")+\"&generateHeader=true&rows=1&returnRSInput=true&wt=json&fl=id,title\";\n\n//msg.payload = global.get(\"trainingData\");\n\nreturn msg;","outputs":1,"noerr":0,"x":867.8334655761719,"y":350.3333511352539,"wires":[["a41d9690.43929"]]},{"id":"a41d9690.43929","type":"http request","z":"5ebce14.8e8b02","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1206.4999694824219,"y":349.3333511352539,"wires":[["40e43678.28189"]]},{"id":"40e43678.28189","type":"function","z":"5ebce14.8e8b02","name":"","func":"\nmsg.password= global.get(\"service_password\"); \nmsg.username = global.get(\"service_user\");\nglobal.set(\"trainingData\", msg.payload.RSInput+\"\\n\"+global.get(\"trainingData\"));\n\n//msg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/sc8df1ab26_c01b_43c5_90d7_e77281e57f77/solr/\"+global.get(\"collection_name\")+\"/fcselect?q=\"+global.get(\"JsonTitle\")+\"&gt=\"+global.get(\"JsonId\")+\",\"+global.get(\"relevance\")+\"&generateHeader=true&rows=1&returnRSInput=true&wt=json&fl=id,title\";\n\nmsg.payload = global.get(\"trainingData\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1402.499755859375,"y":342.3333435058594,"wires":[["279beaec.1b3cee","431a7a80.edbdc4"]]},{"id":"581f3681.7be58","type":"switch","z":"5ebce14.8e8b02","name":"","property":"passed","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","outputs":2,"x":631.33349609375,"y":266.0000305175781,"wires":[["b3ad6d5d.7dc65"],["3ddafe5c.16a342","b3ad6d5d.7dc65"]]},{"id":"5ac77803.f183d","type":"delay","z":"5ebce14.8e8b02","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":572.6669616699219,"y":156.33336639404297,"wires":[["581f3681.7be58"]]},{"id":"431a7a80.edbdc4","type":"watson-retrieve-rank-create-ranker","z":"5ebce14.8e8b02","name":"","servicecreds":"","rankername":"test","x":1276.3334655761719,"y":570.0001220703125,"wires":[["e954e8e6.dcca28","469986a5.fa77b"]]},{"id":"e954e8e6.dcca28","type":"debug","z":"5ebce14.8e8b02","name":"","active":true,"console":"false","complete":"payload","x":1832.166748046875,"y":580.3334350585938,"wires":[]},{"id":"668fa701.dc31c8","type":"debug","z":"5ebce14.8e8b02","name":"","active":true,"console":"false","complete":"url","x":1111.666748046875,"y":810.6667327880859,"wires":[]},{"id":"e99b5af0.72d9a","type":"function","z":"5ebce14.8e8b02","name":"","func":"global.set(\"passed\", \"false\");\n\nvar low = 0;\nvar high = global.get(\"counterEnd\");\n\nvar random = Math.floor(Math.random() * (high - low + 1) + low);\n\nvar counter = global.get(\"counter\");\n\nglobal.set(\"JsonId\", msg.payload.answer_units[counter].id);\nglobal.set(\"JsonTitle\", msg.payload.answer_units[counter].title); \nglobal.set(\"content\", msg.payload.answer_units[counter].content); \nglobal.set(\"relevance\", 4);\n\nif (counter === 1){\n    \n}else{\n    \nglobal.set(\"JsonId_wrong\", msg.payload.answer_units[random].id);\nglobal.set(\"JsonTitle_wrong\", msg.payload.answer_units[random].title); \nglobal.set(\"content_worng\", msg.payload.answer_units[random].content); \nglobal.set(\"relevance_wrong\", 3);\n\n}\n\nmsg.test = msg.payload.answer_units[counter].content;\n\n//msg.test = global.get(\"JsonId\")+global.get(\"JsonTitle\")+global.get(\"relevance\");\nreturn msg;","outputs":1,"noerr":0,"x":715.6665954589844,"y":706.3333511352539,"wires":[["2ca0b0b6.af2f"]]},{"id":"3f179ba.eb59e64","type":"debug","z":"5ebce14.8e8b02","name":"","active":true,"console":"false","complete":"payload","x":1588.0000915527344,"y":871.0000991821289,"wires":[]},{"id":"92d1964a.d529b","type":"cloudant out","z":"5ebce14.8e8b02","name":"","cloudant":"","database":"tr","service":"Maintenance Advisor-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1666.6163940429688,"y":352.6000518798828,"wires":[]},{"id":"b13b9188.e9a1c","type":"comment","z":"5ebce14.8e8b02","name":"use string to compare not int --> causes performance problems","info":"","x":536.1667175292969,"y":660.9667129516602,"wires":[]},{"id":"3ddafe5c.16a342","type":"debug","z":"5ebce14.8e8b02","name":"","active":true,"console":"false","complete":"payload","x":965.61669921875,"y":261.5500183105469,"wires":[]},{"id":"51fb0a4f.617e6c","type":"function","z":"5ebce14.8e8b02","name":"","func":"global.set(\"passed\", \"true\");\nreturn msg;","outputs":1,"noerr":0,"x":683.2000427246094,"y":768.0334243774414,"wires":[[]]},{"id":"469986a5.fa77b","type":"function","z":"5ebce14.8e8b02","name":"","func":"\nglobal.set(\"rankerId\", msg.payload.ranker_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":1567.449951171875,"y":476.566650390625,"wires":[[]]},{"id":"27ccbcdd.d3fe94","type":"subflow","name":"Back-end: Delete Ranker by ID ","info":"","in":[{"x":371.99998474121094,"y":229,"wires":[{"id":"3ebde4b2.9d5054"}]}],"out":[{"x":999,"y":335.99998474121094,"wires":[{"id":"a60d67c4.a47058","port":0}]}]},{"id":"3ebde4b2.9d5054","type":"function","z":"27ccbcdd.d3fe94","name":"","func":"msg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/rankers/\"+global.get(\"rankerId\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":543.566650390625,"y":224.56666564941406,"wires":[["a60d67c4.a47058"]]},{"id":"a60d67c4.a47058","type":"http request","z":"27ccbcdd.d3fe94","name":"","method":"DELETE","ret":"txt","url":"","x":769.5666656494141,"y":226.89999389648438,"wires":[[]]},{"id":"8f95f600.8f9808","type":"subflow","name":"Back-end: get Rankers ","info":"","in":[{"x":106,"y":216,"wires":[{"id":"ced8cd3c.13f5d8"}]}],"out":[{"x":1278.9999694824219,"y":325.99999237060547,"wires":[{"id":"6092a212.37ce0c","port":0}]}]},{"id":"ced8cd3c.13f5d8","type":"function","z":"8f95f600.8f9808","name":"header preapre","func":"msg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/rankers\";\n\nreturn msg;","outputs":1,"noerr":0,"x":669.5666656494141,"y":216.0001220703125,"wires":[["49532a55.61a224"]]},{"id":"49532a55.61a224","type":"http request","z":"8f95f600.8f9808","name":"","method":"GET","ret":"txt","url":"","tls":"","x":862.5665893554688,"y":218.80006408691406,"wires":[["6092a212.37ce0c"]]},{"id":"6092a212.37ce0c","type":"function","z":"8f95f600.8f9808","name":"get rankerId","func":"\nmsg.response = msg.payload;\nvar end = msg.response.search('\",\"url\":\"');\nvar start = msg.response.search('{\"ranker_id\":\"');\nstart = start+14;\nglobal.set(\"rankerId\",  msg.response.substring(start, end));\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1074.449966430664,"y":321.56666564941406,"wires":[[]]},{"id":"360f2884.fef648","type":"subflow","name":"Back-end: DC: with Cloudant Save and Conversion from Csv document","info":"","in":[{"x":86.00001525878906,"y":228.00001525878906,"wires":[{"id":"d9e3b6c4.821998"}]}],"out":[{"x":1296.0000610351562,"y":105,"wires":[{"id":"2fea4a40.040b06","port":0}]}]},{"id":"2fea4a40.040b06","type":"convert","z":"360f2884.fef648","name":"","target":"ANSWER_UNITS","username":"da","password":"da","service":"_ext_","x":1238.11669921875,"y":187.56666564941406,"wires":[["5649c4d1.5d1a84","a27ee3dc.cd20a"]]},{"id":"e938f26b.32d11","type":"http request","z":"360f2884.fef648","name":"","method":"GET","ret":"bin","url":"","tls":"","x":638.6500244140625,"y":228.9833221435547,"wires":[["507f4653.e8e048","8e9d55e6.05081"]]},{"id":"d9e3b6c4.821998","type":"function","z":"360f2884.fef648","name":"Set InputFile for conversation ","func":"\nmsg.url =global.get(\"pdf_document\");\n\nreturn msg;","outputs":1,"noerr":0,"x":391.6500244140625,"y":228.7333221435547,"wires":[["e938f26b.32d11"]]},{"id":"1ae85197.2f7586","type":"comment","z":"360f2884.fef648","name":"only one cloudant entry -- deleted afterwards only problems if the app is deployed at the same time ","info":"","x":524.9999542236328,"y":121.80001831054688,"wires":[]},{"id":"a4589bfd.f80a48","type":"function","z":"360f2884.fef648","name":"document location & options","func":"msg = {\n payload: msg.content,\n pdf: {\n \"heading\": {\n \"fonts\": [\n {\"level\": 1, \"min_size\": 24, \"max_size\": 80},\n {\"level\": 2, \"min_size\": 18, \"max_size\": 24, \"bold\": false, \"italic\": false},\n {\"level\": 2, \"min_size\": 18, \"max_size\": 24, \"bold\": true},\n {\"level\": 3, \"min_size\": 13, \"max_size\": 18, \"bold\": false, \"italic\": false},\n {\"level\": 3, \"min_size\": 13, \"max_size\": 18, \"bold\": true},\n {\"level\": 4, \"min_size\": 8, \"max_size\": 13, \"bold\": true, \"italic\": false}\n ]\n }\n }\n}\n\nmsg.username = global.get(\"dc_username\");\nmsg.password = global.get(\"dc_password\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1045.86669921875,"y":322.566650390625,"wires":[["2fea4a40.040b06"]]},{"id":"507f4653.e8e048","type":"function","z":"360f2884.fef648","name":"","func":"msg.content = msg.payload; \n\nreturn msg;","outputs":1,"noerr":0,"x":811.75,"y":323.33331298828125,"wires":[["a4589bfd.f80a48"]]},{"id":"8e9d55e6.05081","type":"debug","z":"360f2884.fef648","name":"","active":true,"console":"false","complete":"false","x":904.5000305175781,"y":237.66666412353516,"wires":[]},{"id":"5649c4d1.5d1a84","type":"debug","z":"360f2884.fef648","name":"","active":true,"console":"false","complete":"false","x":1366.5000305175781,"y":289.3333511352539,"wires":[]},{"id":"a27ee3dc.cd20a","type":"cloudant out","z":"360f2884.fef648","name":"","cloudant":"","database":"pdfinput","service":"Maintenance Advisor-cloudantNoSQLDB","payonly":false,"operation":"insert","x":1503.449951171875,"y":183.93333435058594,"wires":[]},{"id":"a6267eb5.7bdf7","type":"subflow","name":"Back-end: Download Zip from Git","info":"Download Zip File from Git Respository --- use Content-type zip and Buffer in Web service node","in":[{"x":229,"y":148,"wires":[{"id":"994b1f55.496918"}]}],"out":[{"x":912,"y":153,"wires":[{"id":"e6e99a6f.78d4e8","port":0}]}]},{"id":"994b1f55.496918","type":"function","z":"a6267eb5.7bdf7","name":"Download Zip from Git","func":"msg.headers =  {\"Content-Type\": \"application/zip\"};\n\nmsg.url = global.get(\"config_zip\");\n\nreturn msg;","outputs":1,"noerr":0,"x":448.566650390625,"y":148.56666564941406,"wires":[["e6e99a6f.78d4e8"]]},{"id":"e6e99a6f.78d4e8","type":"http request","z":"a6267eb5.7bdf7","name":"","method":"GET","ret":"bin","url":"","tls":"","x":733.566650390625,"y":150.8999786376953,"wires":[[]]},{"id":"628fd91d.25b2d","type":"subflow","name":"Back-end: Cleaning Service","info":"Delete all clusters for the used service in order to create new clusters\nrequired Input are service credentials as msg.authorization\nOutput is the cluster_Id as msg.clusterId","in":[{"x":328.9999694824219,"y":246.00001525878906,"wires":[{"id":"86f64b43.432b6"}]}],"out":[{"x":1538,"y":192.00001525878906,"wires":[{"id":"d436f7d.3ef8c08","port":0}]}]},{"id":"77ccacf7.1cca54","type":"function","z":"628fd91d.25b2d","name":"prepare Cluster_ID first Cluster ID","func":"\n\n\nmsg.response = msg.payload;\nvar end = msg.response.search('\",\"cluster_name');\nvar start = msg.response.search('solr_cluster_id\":\"');\nstart = start+18;\nmsg.clusterId = msg.response.substring(start, end);\n\n\n\n//\nreturn msg;","outputs":1,"noerr":0,"x":1368.0166473388672,"y":269.0666961669922,"wires":[["495b15bd.d747bc","50190909.53db08"]]},{"id":"495b15bd.d747bc","type":"debug","z":"628fd91d.25b2d","name":"","active":true,"console":"false","complete":"clusterId","x":1675.89990234375,"y":268.0666809082031,"wires":[]},{"id":"50190909.53db08","type":"function","z":"628fd91d.25b2d","name":"Adapter: delete Solr_cluster","func":"\n\nmsg.headers =  {\"Content-Type\": \"application/json\"} ;\n\n\n// ist relevant wenn ein input Json mit übergeben werden muss\n\n\nmsg.method = \"delete\";\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\"+msg.clusterId;\n\nreturn msg;","outputs":1,"noerr":0,"x":492.01666259765625,"y":392.9000244140625,"wires":[["e4bc89ad.1c98e8"]]},{"id":"e4bc89ad.1c98e8","type":"http request","z":"628fd91d.25b2d","name":"","method":"use","ret":"txt","url":"","tls":"","x":868.0166473388672,"y":393.1666717529297,"wires":[["19abc269.bd5e5e","86f64b43.432b6"]]},{"id":"19abc269.bd5e5e","type":"debug","z":"628fd91d.25b2d","name":"","active":true,"console":"false","complete":"false","x":1523.8999481201172,"y":403.0666961669922,"wires":[]},{"id":"d436f7d.3ef8c08","type":"switch","z":"628fd91d.25b2d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"clusters\":[]}","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1226.8999481201172,"y":209.3833465576172,"wires":[[],["77ccacf7.1cca54"]]},{"id":"a82eccd9.186408","type":"switch","z":"628fd91d.25b2d","name":"","property":"out","propertyType":"msg","rules":[{"t":"eq","v":"<HTML>","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":1170.8999481201172,"y":151.3833465576172,"wires":[[],["d436f7d.3ef8c08"]]},{"id":"e0ae929e.5840f8","type":"comment","z":"628fd91d.25b2d","name":"Output node if all deleted -->{\"clusters\":[]} go to create new clusters ","info":"","x":1456.89990234375,"y":94.05000305175781,"wires":[]},{"id":"cd26b83e.3416a8","type":"comment","z":"628fd91d.25b2d","name":"This Stream Clean all Clusters from the credentials","info":"","x":280.56663513183594,"y":28.566665649414062,"wires":[]},{"id":"9e41a0d5.9cd018","type":"function","z":"628fd91d.25b2d","name":"prepare Out","func":"\nmsg.out = msg.payload.substring(0,15);\n\nreturn msg;","outputs":1,"noerr":0,"x":1087.7667236328125,"y":85.56666564941406,"wires":[["a82eccd9.186408","7b5636d3.e142"]]},{"id":"afca3eb8.4ff5f","type":"http request","z":"628fd91d.25b2d","name":"","method":"use","ret":"txt","url":"","x":1007.8834228515625,"y":244.41664123535156,"wires":[["523b0881.37eb48","9e41a0d5.9cd018"]]},{"id":"86f64b43.432b6","type":"function","z":"628fd91d.25b2d","name":"Adapter: get Solr_cluster","func":"\nmsg.payload = \"{\\\"cluster_size\\\":\\\"1\\\",\\\"cluster_name\\\":\\\"\"+msg.clusterName+\"\\\"}\";\n\nmsg.headers =  {\"Content-Type\": \"application/json\"} ;\n\n\n// ist relevant wenn ein input Json mit übergeben werden muss\n\n\nmsg.method = \"get\";\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters\";\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":675.8834228515625,"y":244.41664123535156,"wires":[["afca3eb8.4ff5f"]]},{"id":"7b5636d3.e142","type":"debug","z":"628fd91d.25b2d","name":"Output","active":true,"console":"false","complete":"out","x":1401.449951171875,"y":27.350006103515625,"wires":[]},{"id":"523b0881.37eb48","type":"debug","z":"628fd91d.25b2d","name":"","active":true,"console":"false","complete":"false","x":742.449951171875,"y":59.94999694824219,"wires":[]},{"id":"867bbf99.5d002","type":"subflow","name":"Back-end: Upload Answers","info":"Upload the configured JSON document, afterwards you can already ask question with normal select","in":[{"x":122,"y":123,"wires":[{"id":"30ef58b4.8f47d8"}]}],"out":[{"x":831,"y":168,"wires":[{"id":"1f8cd905.859387","port":0}]}]},{"id":"30ef58b4.8f47d8","type":"function","z":"867bbf99.5d002","name":"Adapter: Antworten hochladen","func":"msg.headers =  {\"Content-Type\": \"application/json\"} ;\n\nmsg.method = \"post\";\n\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\"+global.get(\"clusterId\") +\"/solr/\"+global.get(\"collection_name\")+\"/update/json/docs?commit=true&split=/answer_units&f=id:/answer_units/id&f=title:/answer_units/title&f=body:/answer_units/content/text\";\nreturn msg;","outputs":1,"noerr":0,"x":375.566650390625,"y":144.56665802001953,"wires":[["1f8cd905.859387","5b974db3.122054"]]},{"id":"1f8cd905.859387","type":"http request","z":"867bbf99.5d002","name":"","method":"use","ret":"txt","url":"","x":663.199951171875,"y":149.5334014892578,"wires":[[]]},{"id":"5b974db3.122054","type":"debug","z":"867bbf99.5d002","name":"","active":true,"console":"false","complete":"false","x":548.5000305175781,"y":349.66666412353516,"wires":[]},{"id":"87a95d80.726f2","type":"subflow","name":"Back-end: Upload solr config ","info":"Upload the config.zip for the solr cluster\nrequired input is the config_solr.zip and the msg.data from previous nodes ","in":[{"x":350.99998474121094,"y":151,"wires":[{"id":"b8f62ae3.f9e19"}]}],"out":[{"x":1035,"y":153,"wires":[{"id":"b766bc78.99eac","port":0}]}]},{"id":"b8f62ae3.f9e19","type":"function","z":"87a95d80.726f2","name":"Adapter: Upload Config_solr","func":"\nmsg.headers =  {\"Content-Type\": \"application/zip\"} ;\n\nmsg.method = \"post\";\n\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\" +global.get(\"clusterId\") +\"/config/\" + \"example_config\";\n\nreturn msg;","outputs":1,"noerr":0,"x":596.566650390625,"y":150.56666564941406,"wires":[["b766bc78.99eac"]]},{"id":"b766bc78.99eac","type":"http request","z":"87a95d80.726f2","name":"","method":"use","ret":"txt","url":"","tls":"","x":849.816650390625,"y":150.81666564941406,"wires":[["efdb0fd4.f78ec"]]},{"id":"efdb0fd4.f78ec","type":"debug","z":"87a95d80.726f2","name":"","active":true,"console":"false","complete":"false","x":1121.449966430664,"y":67.25,"wires":[]},{"id":"c31ec5fb.0dd23","type":"subflow","name":"Back-end: Create Collection","info":"Create a collection with secified name\nrequired Input is collection name and msg.data from previous steps","in":[{"x":280.99998474121094,"y":142,"wires":[{"id":"7b54b493.1f2d2c"}]}],"out":[{"x":980,"y":153,"wires":[{"id":"a7d3228f.f9ca38","port":0}]}]},{"id":"7b54b493.1f2d2c","type":"function","z":"c31ec5fb.0dd23","name":"Adapter: Create Collection","func":"msg.method = \"post\";\n\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\" +global.get(\"clusterId\") +\"/solr/admin/collections?action=CREATE&name=\"+global.get(\"collection_name\")+\"&collection.configName=example_config\";\n\nreturn msg;","outputs":1,"noerr":0,"x":511.566650390625,"y":140.56666564941406,"wires":[["a7d3228f.f9ca38"]]},{"id":"a7d3228f.f9ca38","type":"http request","z":"c31ec5fb.0dd23","name":"","method":"use","ret":"txt","url":"","tls":"","x":787.0666198730469,"y":149.06666564941406,"wires":[["905fa907.150c4"]]},{"id":"905fa907.150c4","type":"debug","z":"c31ec5fb.0dd23","name":"","active":true,"console":"false","complete":"false","x":1009.4499664306641,"y":72.71665954589844,"wires":[]},{"id":"a8616116.6422a","type":"subflow","name":"Back-end: Check status until he is ready","info":"required Input is the clusterId and the status of this cluster is checked with 10 seconds delay until its status is ready to proceed with next steps","in":[{"x":68,"y":128,"wires":[{"id":"6e030b29.c74464"}]}],"out":[{"x":1243,"y":383,"wires":[{"id":"15cb3559.ee1de3","port":1}]}]},{"id":"80ee8411.8465d","type":"function","z":"a8616116.6422a","name":"Adapter: Get cluster_id","func":"\n\n//, \"Content-Type\": \"application/json\"} ;\n//, \"Content-Type\": \"application/zip\", \"data-binary\": \"@Cranfield_solr_config.zip\"} ;\n\nmsg.method = \"get\";\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters/\" + msg.clusterId;\n\nreturn msg;","outputs":1,"noerr":0,"x":457.566650390625,"y":157.56666564941406,"wires":[["facd1454.37741"]]},{"id":"6e030b29.c74464","type":"delay","z":"a8616116.6422a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220.56661987304688,"y":157.316650390625,"wires":[["80ee8411.8465d"]]},{"id":"15cb3559.ee1de3","type":"switch","z":"a8616116.6422a","name":"","property":"clusterStatus","propertyType":"msg","rules":[{"t":"eq","v":"NOT_AVAILABLE","vt":"str"},{"t":"neq","v":"NOT_AVAILABLE","vt":"str"}],"checkall":"true","outputs":2,"x":1141.3166198730469,"y":252.0666961669922,"wires":[["6e030b29.c74464"],[]]},{"id":"facd1454.37741","type":"http request","z":"a8616116.6422a","name":"","method":"use","ret":"txt","url":"","x":674.316650390625,"y":162.06666564941406,"wires":[["50e5949d.f19014"]]},{"id":"50e5949d.f19014","type":"function","z":"a8616116.6422a","name":"prepare ClusterStatus","func":"\n\n\n\n\nmsg.response = msg.payload;\nvar end = msg.response.search('\"}');\nvar start = msg.response.search('solr_cluster_status\":\"');\nstart = start +22;\n\nmsg.clusterStatus = msg.response.substring(start,end);\n\n//\nreturn msg;","outputs":1,"noerr":0,"x":889.3166198730469,"y":163.0666961669922,"wires":[["15cb3559.ee1de3","6f2b7bc5.d19d1c"]]},{"id":"6f2b7bc5.d19d1c","type":"debug","z":"a8616116.6422a","name":"","active":true,"console":"false","complete":"clusterStatus","x":1226.449951171875,"y":51.350006103515625,"wires":[]},{"id":"6019d12d.452d98","type":"subflow","name":"Back-end: create Cluster","info":"Create the solr cluster\nOutput is the Cluster Id within msg.clusterId","in":[{"x":28,"y":193,"wires":[{"id":"42b9efd8.d1c208"}]}],"out":[{"x":1072,"y":198,"wires":[{"id":"6a480b6a.eb8c2c","port":0}]}]},{"id":"ac4b3663.4e82a","type":"debug","z":"6019d12d.452d98","name":"","active":true,"console":"false","complete":"clusterId","x":1120.25,"y":81.5666732788086,"wires":[]},{"id":"e04a4df4.f2e57","type":"http request","z":"6019d12d.452d98","name":"","method":"use","ret":"txt","url":"","x":467.5,"y":195.316650390625,"wires":[["335ae1f8.56f366","6a480b6a.eb8c2c"]]},{"id":"42b9efd8.d1c208","type":"function","z":"6019d12d.452d98","name":"Adapter: Create Solr_cluster","func":"\nmsg.payload = \"{\\\"cluster_size\\\":\\\"1\\\",\\\"cluster_name\\\":\\\"\"+global.get(\"cluster_name\")+\"\\\"}\";\n\nmsg.headers =  {\"Content-Type\": \"application/json\"} ;\n\n\n// ist relevant wenn ein input Json mit übergeben werden muss\n\n\nmsg.method = \"post\";\nmsg.url= \"https://\" + global.get(\"service_user\") + \":\" + global.get(\"service_password\")+ \"@gateway.watsonplatform.net/retrieve-and-rank/api/v1/solr_clusters\";\n\nreturn msg;","outputs":1,"noerr":0,"x":213,"y":196.066650390625,"wires":[["e04a4df4.f2e57"]]},{"id":"6a480b6a.eb8c2c","type":"function","z":"6019d12d.452d98","name":"prepare Cluster_ID","func":"\n\n\nmsg.response = msg.payload;\nvar end = msg.response.search('\",\"cluster_name');\n\nmsg.clusterId = msg.response.substring(20,end);\nglobal.set(\"clusterId\",msg.clusterId);\n\nreturn msg;","outputs":1,"noerr":0,"x":743.75,"y":195.066650390625,"wires":[["ac4b3663.4e82a"]]},{"id":"335ae1f8.56f366","type":"debug","z":"6019d12d.452d98","name":"","active":true,"console":"false","complete":"false","x":828.199951171875,"y":78.8667221069336,"wires":[]},{"id":"3e009064.b51bd","type":"subflow","name":"Front-end: Userinterface GUI","info":"","in":[{"x":79,"y":171,"wires":[{"id":"526c6f22.b7e398"}]}],"out":[{"x":675,"y":794,"wires":[{"id":"30996731.50efa","port":0}]},{"x":1609.999984741211,"y":703.9999847412109,"wires":[{"id":"99e445af.53ffc8","port":0}]}]},{"id":"101fce03.e2972a","type":"subflow:6019d12d.452d98","z":"3e009064.b51bd","x":727.9666595458984,"y":171.43331909179688,"wires":[["e295e04b.e30878"]]},{"id":"e295e04b.e30878","type":"subflow:a8616116.6422a","z":"3e009064.b51bd","x":1117.9667129516602,"y":168.4333267211914,"wires":[["ab3450e0.a89b28"]]},{"id":"d1916ae8.df6eb8","type":"subflow:c31ec5fb.0dd23","z":"3e009064.b51bd","name":"","x":877.9666595458984,"y":449.0332946777344,"wires":[["fcf3525f.3ce608"]]},{"id":"8c990d60.7a2828","type":"subflow:87a95d80.726f2","z":"3e009064.b51bd","name":"","x":428.96665954589844,"y":455.2999572753906,"wires":[["e93ba979.b80af8"]]},{"id":"30996731.50efa","type":"subflow:867bbf99.5d002","z":"3e009064.b51bd","name":"","x":429.9666748046875,"y":795.0333251953125,"wires":[["bf26b2ea.d81908"]]},{"id":"526c6f22.b7e398","type":"subflow:628fd91d.25b2d","z":"3e009064.b51bd","name":"","x":411.9665985107422,"y":171.69992065429688,"wires":[["101fce03.e2972a"]]},{"id":"ab3450e0.a89b28","type":"subflow:a6267eb5.7bdf7","z":"3e009064.b51bd","name":"","x":700.9666595458984,"y":305.2666320800781,"wires":[["8c990d60.7a2828"]]},{"id":"2dca8b8b.80efa4","type":"subflow:360f2884.fef648","z":"3e009064.b51bd","name":"","x":626.9999389648438,"y":585.61669921875,"wires":[["f005caac.4cf5a"]]},{"id":"f005caac.4cf5a","type":"function","z":"3e009064.b51bd","name":"Set Id to int values ","func":"\n\nvar counterEnd = msg.payload.answer_units.length; //get all answer units\n\nvar counter = 0; \n\nwhile (counter <= counterEnd-1){\nmsg.payload.answer_units[counter].id = counter +1;\ncounter = counter + 1;\n}\n\nglobal.set(\"answer_document\", msg.payload);\n\n//msg.JsonTitle = msg.payload[0].answer_units[counter].title; \n//msg.JsonId = msg.payload[0].answer_units[counter-1].id; \nreturn msg;\n","outputs":1,"noerr":0,"x":1058.166748046875,"y":586.6666870117188,"wires":[["30996731.50efa","706c77e6.a2a83"]]},{"id":"fcf3525f.3ce608","type":"subflow:8f95f600.8f9808","z":"3e009064.b51bd","x":1197.666748046875,"y":446.3333435058594,"wires":[["b683add0.e37778"]]},{"id":"b683add0.e37778","type":"subflow:27ccbcdd.d3fe94","z":"3e009064.b51bd","x":1502.6668090820312,"y":446.2000427246094,"wires":[["88faf56f.14923","b9ea371f.31f9e8"]]},{"id":"88faf56f.14923","type":"switch","z":"3e009064.b51bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{}","vt":"str"},{"t":"neq","v":"{}","vt":"str"}],"checkall":"true","outputs":2,"x":1508.6666259765625,"y":516.1834716796875,"wires":[["fcf3525f.3ce608"],["2dca8b8b.80efa4"]]},{"id":"b9ea371f.31f9e8","type":"debug","z":"3e009064.b51bd","name":"","active":true,"console":"false","complete":"false","x":1798.5335083007812,"y":443.8333740234375,"wires":[]},{"id":"e93ba979.b80af8","type":"delay","z":"3e009064.b51bd","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":653.1666717529297,"y":455.66668701171875,"wires":[["d1916ae8.df6eb8"]]},{"id":"bf26b2ea.d81908","type":"debug","z":"3e009064.b51bd","name":"","active":true,"console":"false","complete":"false","x":586.5000305175781,"y":878.6666641235352,"wires":[]},{"id":"99e445af.53ffc8","type":"subflow:5ebce14.8e8b02","z":"3e009064.b51bd","x":1368.449966430664,"y":706.5833282470703,"wires":[[]]},{"id":"706c77e6.a2a83","type":"delay","z":"3e009064.b51bd","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1081.449966430664,"y":710.2333526611328,"wires":[["99e445af.53ffc8"]]},{"id":"bd8b3f90.8cb3e","type":"ui_button","z":"30ef448d.adba44","name":"Create and Train Cluster","group":"e8664d64.e7691","order":"8","width":"","height":"","label":"Create and Train Cluster","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":406,"y":1418.1257572174072,"wires":[["5b531bbc.8e0fec","77c939.205b96c8","2d2f78c.dd79e08"]]},{"id":"40695101.d04228","type":"inject","z":"30ef448d.adba44","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":431.3000030517578,"y":1361.725975036621,"wires":[["5b531bbc.8e0fec"]]},{"id":"3c369847.93c078","type":"ui_button","z":"30ef448d.adba44","name":"Pull Credentials ","group":"e8664d64.e7691","order":"9","width":"","height":"","label":"Pull Credentials ","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":241.00003051757812,"y":808.3259658813477,"wires":[["e09a46ab.c54c6","8e8bdb3d.ef41f","66db84e7.d66124","934e7dd2.81cb18"]]},{"id":"7bb8313b.f19858","type":"ui_text_input","z":"30ef448d.adba44","name":"Rank & Retrieve - User name","label":"Rank & Retrieve - User name","group":"e8664d64.e7691","order":"2","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":944.2333679199219,"y":777.0259170532227,"wires":[["836470e9.d7aa68"]]},{"id":"12cae4d3.ea66ab","type":"function","z":"30ef448d.adba44","name":"Set user name","func":"msg.payload = \"840d32e9-1723-4e1b-b605-d33871b953cd\";\n\nreturn msg;","outputs":1,"noerr":0,"x":652.9333648681641,"y":776.8259658813477,"wires":[[]]},{"id":"b63e7a1f.d252d8","type":"function","z":"30ef448d.adba44","name":"Set password","func":"msg.payload = \"UEFEViLrpCoN\";\n\nreturn msg;","outputs":1,"noerr":0,"x":657.9333648681641,"y":833.8259658813477,"wires":[[]]},{"id":"299d245f.31346c","type":"ui_text_input","z":"30ef448d.adba44","name":"Rank & Retrieve - Password","label":"Rank & Retrieve - Password","group":"e8664d64.e7691","order":"2","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":944.9333801269531,"y":832.8259811401367,"wires":[["2ab1cb33.edbcdc"]]},{"id":"836470e9.d7aa68","type":"function","z":"30ef448d.adba44","name":"","func":"//flow.set(\"user_name\",msg.payload);\n\nglobal.set(\"service_user\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":1189.7333679199219,"y":785.0259628295898,"wires":[[]]},{"id":"2ab1cb33.edbcdc","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"service_password\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1203.7333679199219,"y":841.0259628295898,"wires":[[]]},{"id":"2128d7e8.2bb268","type":"ui_text_input","z":"30ef448d.adba44","name":"Solr cluster configuration file","label":"Solr cluster configuration file","group":"bef4f7d6.7491f8","order":"3","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":1233.7333526611328,"y":569.0259704589844,"wires":[["4fa56d89.6ce594"]]},{"id":"9d422273.6fdbc8","type":"function","z":"30ef448d.adba44","name":"Set Config Zip","func":"msg.payload = \"https://hub.jazz.net/git/plamen/mytest1/contents/master/Config_files/cranfield_solr_config.zip\";\n\nreturn msg;","outputs":1,"noerr":0,"x":947.4333648681641,"y":573.8260192871094,"wires":[["2128d7e8.2bb268"]]},{"id":"4fa56d89.6ce594","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"config_zip\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1459.2333526611328,"y":567.0260314941406,"wires":[[]]},{"id":"5b531bbc.8e0fec","type":"subflow:3e009064.b51bd","z":"30ef448d.adba44","x":815.1166534423828,"y":1416.9094619750977,"wires":[["f7c74710.88d5d","d38c0215.772d88"],["f7c74710.88d5d"]]},{"id":"513cdac7.5be054","type":"function","z":"30ef448d.adba44","name":"Set pdf document","func":"msg.payload = \"https://hub.jazz.net/git/plamen/mytest1/contents/master/Config_files/SER03_SER10_SER30_V1.2_EN.pdf\";\n\nreturn msg;","outputs":1,"noerr":0,"x":954.2334136962891,"y":642.6259307861328,"wires":[["93edcd1c.b31cd8"]]},{"id":"93edcd1c.b31cd8","type":"ui_text_input","z":"30ef448d.adba44","name":"Input Document","label":"Input Document","group":"bef4f7d6.7491f8","order":"3","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"2. File Upload","x":1199.233413696289,"y":642.6259307861328,"wires":[["d8d53135.da9b88"]]},{"id":"d8d53135.da9b88","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"pdf_document\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1396.0334014892578,"y":638.825927734375,"wires":[[]]},{"id":"f7c74710.88d5d","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"The cluster was successful created with the specified configuration. Moreover was the service successful trained with the specified document\"+\"\\n\"+\"------------------------------------------------\"+\"\\n\"+\"Cluster ID: \"+global.get(\"clusterId\")+\"\\n\"+\"------------------------------------------------\"+\"\\n\"+\"RankerId: \"+global.get(\"rankerId\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1236.0334014892578,"y":1423.7092666625977,"wires":[["75e13b3c.db1384"]]},{"id":"75e13b3c.db1384","type":"ui_text","z":"30ef448d.adba44","group":"e8664d64.e7691","order":"23","width":"","height":"","name":"","label":"","format":"{{msg.payload}}","layout":"","x":1371.4167022705078,"y":1487.209327697754,"wires":[]},{"id":"e7fc2796.9aec8","type":"ui_text_input","z":"30ef448d.adba44","name":"Document Conversation - User name","label":"Document Conversation - User name","group":"e8664d64.e7691","order":"2","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":985.4167022705078,"y":918.7092590332031,"wires":[["887a8504.1cc368"]]},{"id":"d20c27db.fdf248","type":"function","z":"30ef448d.adba44","name":"Set DC - user name","func":"msg.payload = \"303bdd74-a9be-4eb4-9bc1-f19ab0a7e886\";\n\nreturn msg;","outputs":1,"noerr":0,"x":651.1166839599609,"y":1025.5093154907227,"wires":[["e7fc2796.9aec8"]]},{"id":"9e61e80d.25be5","type":"function","z":"30ef448d.adba44","name":"Set Dc - password","func":"msg.payload = \"3EF2YZkm1E5Q\";\n\nreturn msg;","outputs":1,"noerr":0,"x":652.1166839599609,"y":1083.5093154907227,"wires":[["2898e39b.0d8f3c"]]},{"id":"2898e39b.0d8f3c","type":"ui_text_input","z":"30ef448d.adba44","name":"Document Conversation - Password","label":"Document Conversation - Password","group":"e8664d64.e7691","order":"2","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":958.1167144775391,"y":975.5093231201172,"wires":[["a6a31840.e1e1d"]]},{"id":"887a8504.1cc368","type":"function","z":"30ef448d.adba44","name":"","func":"//flow.set(\"user_name\",msg.payload);\n\nglobal.set(\"dc_username\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":1248.9167022705078,"y":915.7093200683594,"wires":[[]]},{"id":"a6a31840.e1e1d","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"dc_password\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1228.9167022705078,"y":974.7093200683594,"wires":[[]]},{"id":"9bd2ba47.5eae8","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"weberstationm6\"; \nreturn msg;","outputs":1,"noerr":0,"x":976.1667327880859,"y":315.1259307861328,"wires":[["1811a78f.dd3758"]]},{"id":"1811a78f.dd3758","type":"ui_text_input","z":"30ef448d.adba44","name":"Machine Configuration","label":"Machine Configuration","group":"bef4f7d6.7491f8","order":1,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":1181.166748046875,"y":295.12591552734375,"wires":[["9bb23ef7.2cfb4"]]},{"id":"9bb23ef7.2cfb4","type":"function","z":"30ef448d.adba44","name":"set machine name","func":"global.set(\"machine_name\",msg.payload);  // this is now available to other nodes\n\nreturn msg;","outputs":1,"noerr":0,"x":1403.1666717529297,"y":314.7926025390625,"wires":[["5cfa61c7.712438","3187ec94.68a134","b86eb73c.36d098","247d1a63.d1d876","bd81608b.2e3368"]]},{"id":"4a8478e2.d8606","type":"ui_text","z":"30ef448d.adba44","group":"e8664d64.e7691","order":"7","width":"","height":"","name":"Collection","label":"Collection","format":"{{msg.payload}}","layout":"","x":856.1666717529297,"y":1172.4592590332031,"wires":[]},{"id":"3621c80f.b38998","type":"ui_text","z":"30ef448d.adba44","group":"e8664d64.e7691","order":"7","width":"","height":"","name":"Cluster","label":"Cluster","format":"{{msg.payload}}","layout":"","x":841.3332977294922,"y":1244.4592514038086,"wires":[]},{"id":"5cfa61c7.712438","type":"function","z":"30ef448d.adba44","name":"set cluster name","func":"msg.payload = msg.payload + \"Cluster\";\nglobal.set(\"cluster_name\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1664.3333892822266,"y":329.1259307861328,"wires":[["b86eb73c.36d098"]]},{"id":"3187ec94.68a134","type":"function","z":"30ef448d.adba44","name":"set collection name","func":"global.set(\"collection_name\",msg.payload + \"Collection\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1662.3333892822266,"y":385.1259231567383,"wires":[["b86eb73c.36d098"]]},{"id":"f2c755a6.023958","type":"function","z":"30ef448d.adba44","name":"set collection name","func":"msg.payload = global.get(\"collection_name\");\n\nreturn msg;","outputs":1,"noerr":0,"x":624.0000152587891,"y":1175.4592590332031,"wires":[["4a8478e2.d8606"]]},{"id":"776a5ef1.dac288","type":"function","z":"30ef448d.adba44","name":"set cluster name","func":"msg.payload = global.get(\"cluster_name\");\n\nreturn msg;","outputs":1,"noerr":0,"x":620.0000152587891,"y":1245.4592590332031,"wires":[["3621c80f.b38998"]]},{"id":"b5164fdf.a5fe68","type":"ui_button","z":"30ef448d.adba44","name":"Confirm machine name","group":"bef4f7d6.7491f8","order":"2","width":"","height":"","label":"Confirm machine name","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":157.6667022705078,"y":465.12591552734375,"wires":[["776a5ef1.dac288","f2c755a6.023958","d80b64b1.423c98","33229b11.a8367c"]]},{"id":"b86eb73c.36d098","type":"debug","z":"30ef448d.adba44","name":"","active":true,"console":"false","complete":"false","x":1485.500066121419,"y":477.1259307861328,"wires":[]},{"id":"10b5b80e.aebe38","type":"ui_button","z":"30ef448d.adba44","name":"Set Default Files","group":"bef4f7d6.7491f8","order":"3","width":"","height":"","label":"Set Default Files","color":"","icon":"","payload":"","payloadType":"str","topic":"2. File Upload","x":533.5000457763672,"y":621.4592561721802,"wires":[["9d422273.6fdbc8","513cdac7.5be054"]]},{"id":"b8ec3a69.824418","type":"ui_text_input","z":"30ef448d.adba44","name":"Visual Recognition - API Key","label":"Visual Recognition - API Key","group":"a739a44c.f6576","order":1,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":955.6667022705078,"y":1742.7926406860352,"wires":[["c2ab01a1.22c468"]]},{"id":"afda95be.47ed28","type":"function","z":"30ef448d.adba44","name":"Set DC - API Key","func":"var services = JSON.parse(context.global.process.env.VCAP_SERVICES);\n\nvar watson_vision_combined = services.watson_vision_combined[0].credentials.api_key; //pawssord\n\n\nmsg.payload = watson_vision_combined; \n\nreturn msg;","outputs":1,"noerr":0,"x":674.3666687011719,"y":1764.5927505493164,"wires":[["b8ec3a69.824418"]]},{"id":"c2ab01a1.22c468","type":"function","z":"30ef448d.adba44","name":"","func":"//flow.set(\"user_name\",msg.payload);\n\nglobal.set(\"vr_key\",msg.payload);  // this is now available to other nodes\nreturn msg;","outputs":1,"noerr":0,"x":1261.1667022705078,"y":1777.7926406860352,"wires":[[]]},{"id":"303adb74.db840c","type":"ui_button","z":"30ef448d.adba44","name":"Create Standard Dialog","group":"d0aefffe.7226a","order":"45","width":"","height":"","label":"Create Standard Dialog","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":314.6666717529297,"y":2541.45938873291,"wires":[["83ebae52.7138d"]]},{"id":"3ed61cf2.a9ad94","type":"ui_text_input","z":"30ef448d.adba44","name":"User name","label":"User name","group":"d0aefffe.7226a","order":"39","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":853.1666717529297,"y":2213.65958404541,"wires":[["3cf9a057.a35178"]]},{"id":"d9597ab1.d1a8f8","type":"function","z":"30ef448d.adba44","name":"Set user name","func":"msg.payload = \"f46d60b5-6667-45ae-a7d9-46051bba4db4\";\n\nreturn msg;","outputs":1,"noerr":0,"x":670.8666687011719,"y":2213.459632873535,"wires":[["3ed61cf2.a9ad94"]]},{"id":"13610d65.36385b","type":"function","z":"30ef448d.adba44","name":"Set password","func":"msg.payload = \"BqzREijQ1pqX\";\n\nreturn msg;","outputs":1,"noerr":0,"x":669.8666839599609,"y":2254.459632873535,"wires":[["e221d1ef.a1c6d8"]]},{"id":"e221d1ef.a1c6d8","type":"ui_text_input","z":"30ef448d.adba44","name":"Password","label":"Password","group":"d0aefffe.7226a","order":"40","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":846.8666839599609,"y":2272.459632873535,"wires":[["5522adfe.15dc0c"]]},{"id":"202d58b5.3783e8","type":"inject","z":"30ef448d.adba44","name":"Init Form","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":351.8666687011719,"y":2120.459632873535,"wires":[["b203fe1.6b23e"]]},{"id":"48fcd741.70e178","type":"inject","z":"30ef448d.adba44","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":304.96665954589844,"y":2486.0596084594727,"wires":[["83ebae52.7138d"]]},{"id":"3cf9a057.a35178","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"dialog_user\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1020.6666717529297,"y":2214.6596298217773,"wires":[[]]},{"id":"5522adfe.15dc0c","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"dialog_password\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1005.6666717529297,"y":2274.6596298217773,"wires":[[]]},{"id":"469ad8c5.5647d8","type":"ui_button","z":"30ef448d.adba44","name":"Pull Credentials ","group":"d0aefffe.7226a","order":"45","width":"","height":"","label":"Pull Credentials ","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":340.6666564941406,"y":2201.6596298217773,"wires":[["b203fe1.6b23e","d72bd208.91955","37595a3.a3e79a6"]]},{"id":"f0724cfb.61775","type":"ui_text_input","z":"30ef448d.adba44","name":"Dialog config file","label":"Dialog config file","group":"d0aefffe.7226a","order":"44","width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"","x":883.6666717529297,"y":2166.6596298217773,"wires":[["979509d7.93bb48"]]},{"id":"b203fe1.6b23e","type":"function","z":"30ef448d.adba44","name":"Set Dialog config file ","func":"msg.payload = \"https://hub.jazz.net/git/plamen/mytest1/contents/master/WeberStation6_new.xml\";\n\nreturn msg;","outputs":1,"noerr":0,"x":692.3666687011719,"y":2167.4596786499023,"wires":[["f0724cfb.61775"]]},{"id":"979509d7.93bb48","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"dialog_file\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1054.833351135254,"y":2165.659673690796,"wires":[[]]},{"id":"9b34e4ed.e7742","type":"ui_button","z":"30ef448d.adba44","name":"Set Default Machine","group":"bef4f7d6.7491f8","order":"1","width":"","height":"","label":"Set Default Machine","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":503.6667022705078,"y":355.1259307861328,"wires":[["9bd2ba47.5eae8"]]},{"id":"e09a46ab.c54c6","type":"function","z":"30ef448d.adba44","name":"get Credentials username","func":"\n//msg.payload= context.global.process.env.VCAP_SERVICES;\n\nvar services = JSON.parse(context.global.process.env.VCAP_SERVICES);\n\nvar rr_password = services.retrieve_and_rank[0].credentials.password; //pawssord\nvar rr_username = services.retrieve_and_rank[0].credentials.username; \n\n\nmsg.payload = rr_username; \n\n//msg.payload = msg.payload.retrieve_and_rank;\n\nreturn msg;","outputs":1,"noerr":0,"x":670.4167022705078,"y":691.2092666625977,"wires":[["7bb8313b.f19858"]]},{"id":"8e8bdb3d.ef41f","type":"function","z":"30ef448d.adba44","name":"get Credentials ","func":"\n//msg.payload= context.global.process.env.VCAP_SERVICES;\n\nvar services = JSON.parse(context.global.process.env.VCAP_SERVICES);\n\nvar rr_password = services.retrieve_and_rank[0].credentials.password; //pawssord\nvar rr_username = services.retrieve_and_rank[0].credentials.username; \n\n\nmsg.payload = rr_password; \n\n//msg.payload = msg.payload.retrieve_and_rank;\n\nreturn msg;","outputs":1,"noerr":0,"x":640.4167022705078,"y":732.2092666625977,"wires":[["299d245f.31346c"]]},{"id":"37595a3.a3e79a6","type":"function","z":"30ef448d.adba44","name":"get Credentials password","func":"\n//msg.payload= context.global.process.env.VCAP_SERVICES;\n\nvar services = JSON.parse(context.global.process.env.VCAP_SERVICES);\n\nvar dia_password = services.dialog[0].credentials.password; //pawssord\nvar dia_username = services.dialog[0].credentials.username; \n\n\nmsg.payload = dia_password; \n\n//msg.payload = msg.payload.retrieve_and_rank;\n\nreturn msg;","outputs":1,"noerr":0,"x":630.4166717529297,"y":2390.70938873291,"wires":[["e221d1ef.a1c6d8"]]},{"id":"d72bd208.91955","type":"function","z":"30ef448d.adba44","name":"get Credentials username","func":"\n//msg.payload= context.global.process.env.VCAP_SERVICES;\n\nvar services = JSON.parse(context.global.process.env.VCAP_SERVICES);\n\nvar dia_password = services.dialog[0].credentials.password; //pawssord\nvar dia_username = services.dialog[0].credentials.username; \n\n\nmsg.payload = dia_username; \n\n//msg.payload = msg.payload.retrieve_and_rank;\n\nreturn msg;","outputs":1,"noerr":0,"x":623.4166717529297,"y":2332.70938873291,"wires":[["3ed61cf2.a9ad94"]]},{"id":"66db84e7.d66124","type":"function","z":"30ef448d.adba44","name":"get Credentials username","func":"\n//msg.payload= context.global.process.env.VCAP_SERVICES;\n\nvar services = JSON.parse(context.global.process.env.VCAP_SERVICES);\n\nvar dc_password = services.document_conversion[0].credentials.password; //pawssord\nvar dc_username = services.document_conversion[0].credentials.username; \n\n\nmsg.payload = dc_username; \n\n//msg.payload = msg.payload.retrieve_and_rank;\n\nreturn msg;","outputs":1,"noerr":0,"x":670.2333526611328,"y":906.2259292602539,"wires":[["e7fc2796.9aec8"]]},{"id":"934e7dd2.81cb18","type":"function","z":"30ef448d.adba44","name":"get Credentials password","func":"\n//msg.payload= context.global.process.env.VCAP_SERVICES;\n\nvar services = JSON.parse(context.global.process.env.VCAP_SERVICES);\n\nvar dc_password = services.document_conversion[0].credentials.password; //pawssord\nvar dc_username = services.document_conversion[0].credentials.username; \n\n\nmsg.payload = dc_password; \n\n//msg.payload = msg.payload.retrieve_and_rank;\n\nreturn msg;","outputs":1,"noerr":0,"x":666.2333526611328,"y":957.2259292602539,"wires":[["2898e39b.0d8f3c"]]},{"id":"98230ec2.ef18a","type":"ui_text_input","z":"30ef448d.adba44","name":"Negative images","label":"Negative images","group":"a739a44c.f6576","order":2,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"2. File Upload","x":949.9000396728516,"y":1612.1259536743164,"wires":[["b9f28f09.8374e8"]]},{"id":"efac7390.0ae69","type":"function","z":"30ef448d.adba44","name":"Set Config Zip","func":"msg.payload = \"https://hub.jazz.net/git/plamen/mytest1/contents/master/Config_files/negative.zip\";\n\nreturn msg;","outputs":1,"noerr":0,"x":678.6000518798828,"y":1631.9260177612305,"wires":[["98230ec2.ef18a"]]},{"id":"b9f28f09.8374e8","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"negative_images\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1348.4000396728516,"y":1620.1259536743164,"wires":[[]]},{"id":"905ebd27.92b3c","type":"function","z":"30ef448d.adba44","name":"Set positive","func":"msg.payload = \"https://hub.jazz.net/git/plamen/mytest1/contents/master/Config_files/positive.zip\";\n\nreturn msg;","outputs":1,"noerr":0,"x":665.4001007080078,"y":1700.725929260254,"wires":[["71a5f481.7061f4"]]},{"id":"71a5f481.7061f4","type":"ui_text_input","z":"30ef448d.adba44","name":"Positive Images","label":"Positive Images","group":"a739a44c.f6576","order":3,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"2. File Upload","x":948.4001007080078,"y":1686.725929260254,"wires":[["87efa5f0.08861"]]},{"id":"87efa5f0.08861","type":"function","z":"30ef448d.adba44","name":"","func":"global.set(\"positive_images\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1285.2000885009766,"y":1691.9258499145508,"wires":[[]]},{"id":"d795f6a6.5289","type":"ui_button","z":"30ef448d.adba44","name":"Pull Credentials ","group":"a739a44c.f6576","order":7,"width":"","height":"","label":"Pull Credentials ","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":310.33338928222656,"y":1587.4592666625977,"wires":[["c193e376.809b1","efac7390.0ae69","905ebd27.92b3c","afda95be.47ed28","d80b64b1.423c98"]]},{"id":"c193e376.809b1","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = global.get(\"vr_class\");\n\nreturn msg;","outputs":1,"noerr":0,"x":674.8333892822266,"y":1570.4592666625977,"wires":[["4da92166.6c2458","7284b5fa.e5a8ec"]]},{"id":"7284b5fa.e5a8ec","type":"function","z":"30ef448d.adba44","name":"set machine name","func":"global.set(\"classifier_name\",msg.payload);  // this is now available to other nodes\n\nreturn msg;","outputs":1,"noerr":0,"x":1330.8333587646484,"y":1559.125877380371,"wires":[[]]},{"id":"486c2f96.48e548","type":"ui_text","z":"30ef448d.adba44","group":"a739a44c.f6576","order":4,"width":"","height":"","name":"Visual Recognition Class","label":"Visual Recognition Class","format":"{{msg.payload}}","layout":"","x":944.0000915527344,"y":1828.4592056274414,"wires":[]},{"id":"d80b64b1.423c98","type":"function","z":"30ef448d.adba44","name":"set collection name","func":"msg.payload = global.get(\"vr_class\");\n\nreturn msg;","outputs":1,"noerr":0,"x":668.8334197998047,"y":1831.4592056274414,"wires":[["486c2f96.48e548"]]},{"id":"247d1a63.d1d876","type":"function","z":"30ef448d.adba44","name":"set class name","func":"global.set(\"vr_class\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1658.3334503173828,"y":446.1259231567383,"wires":[["b86eb73c.36d098"]]},{"id":"a96cab92.a8c738","type":"ui_text","z":"30ef448d.adba44","group":"e8664d64.e7691","order":"21","width":"","height":"","name":"------------------------------------------------","label":"------------------------------------------------","format":"{{msg.payload}}","layout":"","x":1457.116683959961,"y":1318.0094375610352,"wires":[]},{"id":"805e0fa8.aec288","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"---------------------------\";\nreturn msg;","outputs":1,"noerr":0,"x":1205.116683959961,"y":1316.5593032836914,"wires":[["a96cab92.a8c738"]]},{"id":"f5aadce.f4c7ba","type":"ui_text","z":"30ef448d.adba44","group":"e8664d64.e7691","order":"22","width":"","height":"","name":"Log Output:","label":"Log Output:","format":"{{msg.payload}}","layout":"","x":1380.233383178711,"y":1373.025978088379,"wires":[]},{"id":"9b3bdd31.1f15e","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"---------------------------\";\nreturn msg;","outputs":1,"noerr":0,"x":1198.233383178711,"y":1371.5758438110352,"wires":[["f5aadce.f4c7ba"]]},{"id":"a4e6ea3a.2fdd8","type":"ui_text","z":"30ef448d.adba44","group":"d0aefffe.7226a","order":"57","width":"","height":"","name":"","label":"","format":"{{msg.payload}}","layout":"","x":1604.616683959961,"y":2657.525733947754,"wires":[]},{"id":"a108ad63.8c148","type":"ui_text","z":"30ef448d.adba44","group":"d0aefffe.7226a","order":"55","width":"","height":"","name":"------------------------------------------------","label":"------------------------------------------------","format":"{{msg.payload}}","layout":"","x":1615.316635131836,"y":2544.325843811035,"wires":[]},{"id":"2102b0e0.52ece8","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"---------------------------\";\nreturn msg;","outputs":1,"noerr":0,"x":1363.316635131836,"y":2542.8757095336914,"wires":[["a108ad63.8c148"]]},{"id":"d0cb8bb3.c2937","type":"ui_text","z":"30ef448d.adba44","group":"d0aefffe.7226a","order":"56","width":"","height":"","name":"Log Output:","label":"Log Output:","format":"{{msg.payload}}","layout":"","x":1538.433334350586,"y":2599.342384338379,"wires":[]},{"id":"1e590dd2.b169fa","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"---------------------------\";\nreturn msg;","outputs":1,"noerr":0,"x":1356.433334350586,"y":2597.892250061035,"wires":[["d0cb8bb3.c2937"]]},{"id":"328c76b9.232ada","type":"ui_text","z":"30ef448d.adba44","group":"a739a44c.f6576","order":10,"width":"","height":"","name":"test","label":"","format":"{{msg.payload}}","layout":"","x":1386.2333526611328,"y":2032.6926651000977,"wires":[]},{"id":"c14bee05.5aabf","type":"ui_text","z":"30ef448d.adba44","group":"a739a44c.f6576","order":8,"width":"","height":"","name":"------------------------------------------------","label":"------------------------------------------------","format":"{{msg.payload}}","layout":"","x":1300.9333038330078,"y":1912.4927139282227,"wires":[]},{"id":"b28a38e4.7b352","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"---------------------------\";\nreturn msg;","outputs":1,"noerr":0,"x":1048.9333038330078,"y":1911.042579650879,"wires":[["c14bee05.5aabf"]]},{"id":"f1203321.c521d","type":"ui_text","z":"30ef448d.adba44","group":"a739a44c.f6576","order":9,"width":"","height":"","name":"Log Output:","label":"Log Output:","format":"{{msg.payload}}","layout":"","x":1224.0500030517578,"y":1967.5092544555664,"wires":[]},{"id":"aee23cc3.ce19d8","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"---------------------------\";\nreturn msg;","outputs":1,"noerr":0,"x":1042.0500030517578,"y":1966.0591201782227,"wires":[["f1203321.c521d"]]},{"id":"4fd4c38b.595e2c","type":"subflow:6ce15836.a3b19","z":"30ef448d.adba44","x":954.1166534423828,"y":2029.675880432129,"wires":[["34fab68d.9fd78a","f54c4345.dbd248"]]},{"id":"bd3893fe.d83cc8","type":"ui_button","z":"30ef448d.adba44","name":"Train Visual Recognition","group":"a739a44c.f6576","order":6,"width":"","height":"","label":"Train Visual Recognition","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":528.2333526611328,"y":2027.425880432129,"wires":[["4fd4c38b.595e2c","f68cf2ed.7b16a","ebada58f.6f27e8"]]},{"id":"34fab68d.9fd78a","type":"function","z":"30ef448d.adba44","name":"","func":"\nmsg.payload = \"The following classifier was trained for the specified positive and negative pictures\"+\"\\n\"+\"------------------------------------------------\"+\"\\n\"+\"Classifier ID: \"+msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1195.1166534423828,"y":2031.4925918579102,"wires":[["328c76b9.232ada"]]},{"id":"76c259cf.0a5f1","type":"inject","z":"30ef448d.adba44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":338.11669921875,"y":2415.059257507324,"wires":[["ca688deb.0692d8"]]},{"id":"ca688deb.0692d8","type":"function","z":"30ef448d.adba44","name":"","func":"\nmsg.payload = global.get(\"dialog_name\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":563.2333526611328,"y":2463.8259658813477,"wires":[["4c5325c5.8c75bc"]]},{"id":"4c5325c5.8c75bc","type":"debug","z":"30ef448d.adba44","name":"","active":true,"console":"false","complete":"false","x":780.1166534423828,"y":2457.7427139282227,"wires":[]},{"id":"83ebae52.7138d","type":"subflow:e15cdb3a.b67478","z":"30ef448d.adba44","x":826.1166534423828,"y":2565.9092178344727,"wires":[["a4e6ea3a.2fdd8"]]},{"id":"56a2d41c.857fec","type":"ui_button","z":"30ef448d.adba44","name":"Create complex Dialog","group":"d0aefffe.7226a","order":"44","width":"","height":"","label":"Create complex Dialog","color":"","icon":"","payload":"","payloadType":"str","topic":"","x":331.2333526611328,"y":2623.2258682250977,"wires":[["bbad6f7d.75bd78"]]},{"id":"bbad6f7d.75bd78","type":"subflow:da7aa4fb.14b71","z":"30ef448d.adba44","x":811.1166534423828,"y":2633.7759170532227,"wires":[["a4e6ea3a.2fdd8"]]},{"id":"74d7ec9d.6d2a4c","type":"function","z":"30ef448d.adba44","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":176.1667022705078,"y":687.1259307861328,"wires":[[]]},{"id":"f793cb03.8b7748","type":"ui_text","z":"30ef448d.adba44","group":"d0aefffe.7226a","order":"42","width":"","height":"","name":"Dialog name","label":"","format":"{{msg.payload}}","layout":"","x":1214.3482818603516,"y":2392.65177154541,"wires":[]},{"id":"33229b11.a8367c","type":"function","z":"30ef448d.adba44","name":"set cluster name","func":"msg.payload = global.get(\"dialog_name\");\n\nreturn msg;","outputs":1,"noerr":0,"x":967.0149688720703,"y":2389.65177154541,"wires":[["f793cb03.8b7748"]]},{"id":"bd81608b.2e3368","type":"function","z":"30ef448d.adba44","name":"set dialog name","func":"msg.payload = msg.payload + \"Dialog\";\nglobal.set(\"dialog_name\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1656.181655883789,"y":290,"wires":[["b86eb73c.36d098"]]},{"id":"77c939.205b96c8","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"Creation Started......\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1172.418960571289,"y":1490.8452845324887,"wires":[["75e13b3c.db1384"]]},{"id":"f68cf2ed.7b16a","type":"function","z":"30ef448d.adba44","name":"","func":"msg.payload = \"Creation Started......\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1200.1815948486328,"y":2111.2012100219727,"wires":[["328c76b9.232ada"]]},{"id":"4337c9c1.5cdcf8","type":"inject","z":"30ef448d.adba44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":189.36666870117188,"y":1490.5,"wires":[["c193e376.809b1"]]},{"id":"4da92166.6c2458","type":"ui_text","z":"30ef448d.adba44","group":"a739a44c.f6576","order":5,"width":"","height":"","name":"Classifier name","label":"Classifier name","format":"{{msg.payload}}","layout":"","x":948.75,"y":1530.75,"wires":[]},{"id":"198c2e25.bc9e9a","type":"ui_gauge","z":"30ef448d.adba44","name":"","group":"e8664d64.e7691","order":0,"width":0,"height":0,"gtype":"gage","title":"State Training","label":"State Training","format":"{{value}}","min":0,"max":"100","colors":["#ae0b06","#e6e600","#2be021"],"x":1199,"y":1175,"wires":[]},{"id":"2d2f78c.dd79e08","type":"function","z":"30ef448d.adba44","name":"State started","func":"msg.payload = 35;\nreturn msg;","outputs":1,"noerr":0,"x":1008,"y":1282,"wires":[["198c2e25.bc9e9a"]]},{"id":"d38c0215.772d88","type":"function","z":"30ef448d.adba44","name":"State done","func":"msg.payload = 100;\nreturn msg;","outputs":1,"noerr":0,"x":1006,"y":1340,"wires":[["198c2e25.bc9e9a"]]},{"id":"dac4ebc5.b78c38","type":"ui_gauge","z":"30ef448d.adba44","name":"","group":"a739a44c.f6576","order":0,"width":0,"height":0,"gtype":"gage","title":"State Visual REcognition","label":"State Training","format":"{{value}}","min":0,"max":"100","colors":["#ae0b06","#e6e600","#2be021"],"x":1518,"y":2081,"wires":[]},{"id":"ebada58f.6f27e8","type":"function","z":"30ef448d.adba44","name":"State started","func":"msg.payload = 35;\nreturn msg;","outputs":1,"noerr":0,"x":1327,"y":2188,"wires":[["dac4ebc5.b78c38"]]},{"id":"f54c4345.dbd248","type":"function","z":"30ef448d.adba44","name":"State done","func":"msg.payload = 100;\nreturn msg;","outputs":1,"noerr":0,"x":1325,"y":2246,"wires":[["dac4ebc5.b78c38"]]},{"id":"e8664d64.e7691","type":"ui_group","z":"","name":"2. Create Solr Cluster, Collection and Ranker","tab":"84dd4126.5a2058","order":2,"disp":true,"width":"6"},{"id":"bef4f7d6.7491f8","type":"ui_group","z":"","name":"1. Global Machine Configuration","tab":"84dd4126.5a2058","order":1,"disp":true,"width":"6"},{"id":"a739a44c.f6576","type":"ui_group","z":"","name":"3. Setup Visual Recognition","tab":"84dd4126.5a2058","order":3,"disp":true,"width":"6"},{"id":"d0aefffe.7226a","type":"ui_group","z":"","name":"4. Setup Dialog","tab":"84dd4126.5a2058","order":4,"disp":true,"width":"6"},{"id":"84dd4126.5a2058","type":"ui_tab","z":"","name":"WMA - Training Pipeline","icon":"dashboard","order":1}]